<h1>Vehicles</h1>

<p>Welcome</p>

  <form action="/vehicles">
  <!--  <label for="name">Name</label>
    <input id="name" name="name" type="text"> -->
    <button type="submit">See Vehicles</button>
  </form>
<p></p>
  <form action="/add_vehicle">
  <!--  <label for="name">Name</label>
    <input id="name" name="name" type="text"> -->
    <button type="submit">Add Vehicle</button>
  </form>
